<a
data-confirm="modal"
data-confirm-title="Confirm"
data-confirm-text="Delete?"
data-confirm-ok-class="btn-danger"
data-confirm-ok-text="Delete"
data-confirm-cancel-class="btn-success"
data-confirm-cancel-text="Cancel"
class="btn btn-danger btn-mini pull-right"
data-ajax="on"
n:href="deleteHandle! $id">Delete</a>